/**
 * calendrier.css
 * author Info2 IUT Rodez 2019-2020
 *
 * Style appliqué au classes utilisées par le planning de la partie administration
 */

/** Version smartphone */
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

/** Version bureau */
@media (min-width: 576px) {
    .day {
        height: 12.2857vw;
    }
}

/* Qand trop dévénements à afficher */
.scroll {
    overflow: scroll !important;
    height: 9.2857vw;
}